<div class="h-100 d-flex flex-column p-3">
    <div class="flex-grow-1 position-relative overflow-hidden">
        <div class="position-absolute h-100 w-100 d-flex overflow-auto flex-column">
            <div class="container h-100 w-100">
                <div class="row g-3" *ngIf="posts.length">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let post of posts">
                        <div class="position-relative mt-3">
                            <!-- <img [src]="post.backgroundurl" alt="" class="img w-100"> -->
                            <svg class="svg-content max-w-100-p max-h-100-p img-fluid mx-auto d-block" preserveAspectRatio="xMidYMid meet"  svgDraw [postDataSet]="post" [loadOnly]="true"></svg>
                            <div class="d-flex flex-column position-absolute start-0 top-0 h-100 w-100 p-3 ">
                                <div class="d-flex mb-auto">
                                    <a class="btn btn-success btn-sm me-auto" href="#" (click)="selectRecoverId(post.id);false"><i class="fa fa-refresh"></i></a>
                                    <a class="btn btn-danger btn-sm ms-auto" href="#" (click)="selectDeleteId(post.id);false"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{post.download_counter}}
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="btn-group btn-group-toggle py-3">
                            <button class="btn btn-outline-dark" (click)="onPageChange(1)" [disabled]="currentPage === 1">First</button>
                            <button class="btn btn-outline-dark" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
                            <button class="btn" *ngFor="let page of getPaginationControls()" (click)="onPageChange(page)" [ngClass]="{'btn-outline-dark': page !== currentPage, 'btn-outline-primary active': page === currentPage}">
                                {{ page }}
                            </button>
                            <button class="btn btn-outline-dark" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
                            <button class="btn btn-outline-dark" (click)="onPageChange(totalPages)" [disabled]="currentPage === totalPages">Last</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="confirmRecover" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Confirm Restore</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Restore <b>"{{selectedID}}"</b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="btnDelete" (click)="recoverPost()"><i class="fa fa-refresh me-2"></i>Restore</button>
            </div>
        </div>
    </div>
</div>
<div id="hardDeleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <b>"{{selectedID}}"</b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="btnDelete" (click)="hardDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>