<div class="h-100-vh d-flex flex-column align-items-center" *ngIf="isBrowser && loading">
    <div
        class="flex-grow-1 p-3 position-relative overflow-hidden w-100 d-flex flex-column justify-content-center align-items-center">
        <img src="assets/images/svg/logo.svg" alt="Post New" class="w-60-px mb-3">
        <div class="progress w-100" style="height: 5px;">
            <div class="progress-bar" role="progressbar" [style.width.%]="progress" [attr.aria-valuenow]="progress"
                aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <b class="p-3">{{ progress }}%</b>
    </div>
</div>

<div class="h-100-vh d-flex flex-column" *ngIf="isBrowser&&!loading">
    <div class="d-flex align-items-center justify-content-center">
        <a [routerLink]="'/latest'" class="max-w-50 my-2"><img src="assets/images/svg/logo-large.svg" alt="PostNew.in"
                class="max-w-300-px w-100"></a>
    </div>
    <div class="flex-grow-1 position-relative overflow-hidden">
        <div class="position-absolute h-100 w-100 d-flex overflow-auto flex-column">
            <div class="container-fluid h-100 w-100 py-3">
                <div class="row g-3">
                    <ng-container *ngIf="posts.length">
                        <div class="col-12 px-md-3 px-2">
                            <div class="row g-md-4 g-3" #masonryGrid data-masonry="{'percentPosition': true}">
                                <ng-container *ngFor="let post of posts; let i= index">
                                    <div class="col-lg-3 col-xl-2 col-md-6 col-6 masonry-box">
                                        <a class="text-decoration-none d-block"
                                            [routerLink]="'/poster/' + post.id" target="_blank">
                                            <div class="card p-4 pb-0 rounded-4 border-0 shadow-sm">
                                                <img [src]="post.image" [attr.alt]="post.title"
                                                    class="w-100 img-fluid d-block card-img-top rounded-3 shadow shadow-md"
                                                    (load)="onImgLoad(post, $event)">
                                                <div class="card-body px-0">
                                                    <h5 class="card-title text-truncate-2">
                                                        {{post.title}}
                                                    </h5>
                                                    <p class="card-text text-truncate-2">{{post.info}}</p>
                                                    <p class="m-0 fw-bold"><i class="fa fa-download me-2"></i>{{post.download_counter}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div pagination [currentPage]="currentPage" [totalItems]="pagination.totalPosts" [pageSize]="limit"
        [pageSizes]="[10, 20, 30]" (currentPageChange)="changePage($event)" (pageSizeChange)="changePageSize($event)"
        class="mt-0 mb-0 px-3">
    </div>
</div>