.profile-widget {
    background-color: var(--bs-white);
    border: 1px solid var(--bs-secondary-100);
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;


    .profile-img {
        cursor: pointer;
        height: 80px;
        margin: 0 auto;
        position: relative;
        width: 80px;

        .avatar {
            font-size: 24px;
            height: 80px;
            line-height: 80px;
            margin: 0;
            width: 80px;
        }
    }

    .dropdown.profile-action {
        text-align: right;
        position: absolute;
        top: 10px;
        right: 20px;

        .action-icon {
            color: var(--bs-secondary-600);
            font-size: var(--bs-font-size-18);
            display: inline-block;
        }

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
    }

    .user-name {
        color: var(--bs-secondary-900);

        a {
            color: var(--bs-secondary-900);
        }
    }
}