<div class="h-100-vh d-flex flex-column">
    <div class="flex-grow-1 overflow-auto align-items-center" *ngIf="isInAppBrowser">
        <div *ngIf="isInAppBrowser" class="container mt-4">
            <div *ngIf="this.postDetails" class="px-3">
                <h1 class="text-center my-4 fw-b h5" *ngIf="this.postDetails.title">{{this.postDetails.title}}</h1>
                <h2 class="text-center mb-4 lh-base h6" *ngIf="this.postDetails.info">{{this.postDetails.info}}</h2>
                <ng-container *ngIf="postStatus!=='loading'&&isDeleted==false">
                    <h5 class="text-center mb-4"><b>{{postStatus}}</b></h5>
                </ng-container>
            </div>
            <img [src]="imgUrl+postDetails.id" [alt]="this.postDetails.title" *ngIf="this.postDetails"
                        class="w-100">
            <button (click)="openInBrowser()" class="btn btn-success btn-lg mt-3 mx-auto d-block">
                <i class="fa fa-download me-2"></i> DOWNLOAD POSTER
            </button>
            <div class="alert alert-secondary text-center p-4 my-4">
                <h3 class="text-danger"><i class="bi bi-exclamation-triangle"></i> You're using an in-app browser!</h3>
                <p class="mt-2">For the best experience, please open this page in your default browser.</p>

                <h5 class="mt-3">📌 How to Open in Browser:</h5>
                <ul class="list-group list-group-flush text-start mx-auto w-75">
                    <li class="list-group-item"><strong>Facebook:</strong> Tap <b>••• (three dots)</b> in the top-right
                        & select <b>"Open in Browser"</b>.</li>
                    <li class="list-group-item"><strong>Instagram:</strong> Tap <b>••• (three dots)</b> in the top-right
                        & select <b>"Open in Browser"</b>.</li>
                    <li class="list-group-item"><strong>Twitter:</strong> Tap the <b>share icon</b> & choose <b>"Open in
                            Browser"</b>.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 overflow-auto" *ngIf="!isInAppBrowser">
        <div *ngIf="this.postDetails" class="px-3">
            <h1 class="text-center my-4 fw-b h5" *ngIf="this.postDetails.title">{{this.postDetails.title}}</h1>
            <h2 class="text-center mb-4 lh-base h6" *ngIf="this.postDetails.info">{{this.postDetails.info}}</h2>
            <ng-container *ngIf="postStatus!=='loading'&&isDeleted==false">
                <h5 class="text-center mb-4"><b>{{postStatus}}</b></h5>
            </ng-container>
        </div>

        <!-- <div class="d-flex align-items-center justify-content-center p-2 mb-3 bg-light" *ngIf="postStatus && !isDeleted">
            <div class="fb-share-button mb-2" [attr.data-href]="pageLink" data-layout="" data-size=""></div>
        </div> -->
        <div class="container p-0">
            <div class="row g-0">
                <div class="col-md-6 col-lg-3 mx-auto text-center">
                    <svg #imageDraw class="max-w-100 max-h-100 border"
                        [ngClass]="{'d-none':postStatus=='loading'}"></svg>
                    <img [src]="imgUrl+this.postDetails.id" [alt]="this.postDetails.title"
                        [ngClass]="{'d-none':postStatus!=='loading'}" *ngIf="postStatus=='loading'&&this.postDetails"
                        class="w-100">
                    <img class="max-w-100 max-h-100 rounded-4" *ngIf="!postStatus || isDeleted"
                        src="./assets/images/svg/no-post.svg" />
                    <div *ngIf="postStatus=='loading'">Loading</div>
                    <a class="btn btn-success btn-md w-auto m-3"
                        href="https://whatsapp.com/channel/0029VaePspU1iUxd0HOsMA1d" target="_blank"
                        *ngIf="this.postDetails?.info_show"><i class="fa fa-whatsapp me-2"></i>Join Gujarat Info
                        Channel</a>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <form [formGroup]="formData" (ngSubmit)="onSubmitFormData()" *ngIf="!canDownload && dataset.length"
                class="row g-2">
                <div *ngFor="let field of dataset;let i=index"
                    class="form-group col-lg-4 offset-lg-4  col-sm-8 offset-sm-2 col-12 offset-0">
                    <ng-container *ngIf="field.type === 'text'">
                        <label class="form-label" for="{{field.id}}">{{field.title}}</label>
                        <input class="form-control" type="text" id="{{field.id}}" name="{{field.id}}"
                            formControlName="{{field.id}}" [placeholder]="field.title">
                    </ng-container>
                    <ng-container *ngIf="field.type === 'date'">
                        <label class="form-label" for="{{field.id}}">{{field.title}}</label>
                        <input class="form-control" type="date" id="{{field.id}}" name="{{field.id}}"
                            formControlName="{{field.id}}">
                    </ng-container>
                    <ng-container *ngIf="field.type === 'image'">
                        <label class="form-label">{{field.title}}</label>
                        <input type="hidden" class="form-control" id="{{field.id}}" name="{{field.id}}"
                            formControlName="{{field.id}}">
                        <input type="file" class="form-control" id="{{field.id}}-file" name="{{field.id}}-file"
                            formControlName="{{field.id}}-file" (change)="onFileChange($event, field.id,field.index)"
                            accept="image/*">
                    </ng-container>
                    <ng-container *ngIf="field.type === 'select' && field.controlName">
                        <label for="text" class="form-label">{{field.title}}</label>
                        <select id="type" class="form-select" formControlName="{{field.id}}">
                            <option value="null" disabled selected>-- Select {{field.title}} --</option>
                            <option *ngFor="let option of apiData[field.controlName]" [value]="option.id">{{
                                field.lang=='gu'?option.gu_name:option.name }}</option>
                        </select>
                    </ng-container>
                </div>
                <div class="col-lg-4 offset-lg-4  col-sm-8 offset-sm-2 col-12 offset-0">
                    <hr class="my-2">
                </div>
                <div class="col-lg-4 offset-lg-4  col-sm-8 offset-sm-2 col-12 offset-0 d-flex">
                    <!-- <button type="submit" class="btn btn-success w-100" [disabled]="!formData.valid"><i class="fa fa-gear me-2"></i> Generate Image</button> -->

                    <button type="submit" class="btn btn-primary btn-md w-100 me-2 text-nowrap"><i
                            class="fa fa-gears me-2"></i>Generate Poster</button>
                    <button class="btn btn-danger mx-auto btn-md text-nowrap" (click)="resetForm()" type="button"><i
                            class="fa fa-refresh"></i></button>
                </div>
                <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 col-12 offset-0">
                    <hr class="my-2">
                </div>
                <div
                    class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 col-12 offset-0 d-flex justify-content-center pb-3">
                    <button class="btn btn-success btn-md text-nowrap me-1" (click)="checkDownload('whatsapp')"
                        type="button">
                        <i class="fa fa-whatsapp me-2"></i><span class="d-none-sm">WhatsApp</span>
                    </button>
                    <button class="btn btn-primary btn-md text-nowrap ms-1" (click)="shareOnFacebook()" type="button">
                        <i class="fa fa-facebook me-2"></i>Facebook </button>
                </div>
            </form>
        </div>
        <ng-container *ngIf="!postStatus">
            <h5 class="text-center my-2 text-danger"><b>No any post available for this link.</b></h5>
        </ng-container>
    </div>
    <div *ngIf="postStatus && isDeleted==false" class="position-sticky bottom-0 bg-light border-top px-3">
        <span class="w-100 mx-auto py-3 d-flex align-items-center justify-content-center"
            *ngIf="this.postDetails?.info_show">Created by <a href="https://www.facebook.com/SOJITRAHIREN"
                class="fw-bold btn btn-outline-danger ms-3" target="_blank" (click)="myInfo.show();false">Hiren
                Sojitra</a></span>
        <div class="container">
            <div class="row g-2" *ngIf="canDownload">
                <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 col-12 offset-0">
                    <div class="d-flex">
                        <button class="btn btn-primary btn-md me-1 w-100" (click)="checkDownload('download')"><i
                                class="fa fa-download me-2"></i>Download
                        </button>
                        <!-- <button class="btn btn-primary btn-md me-1 w-100" (click)="facebookPhoto()"><i
                                class="fa fa-facebook me-2"></i>Facebook
                        </button> -->
                        <button class="btn btn-danger ms-1 btn-md text-nowrap" (click)="resetForm()"><i
                                class="fa fa-refresh"></i></button>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 col-12 offset-0">
                    <hr class="my-2">
                </div>
                <div class="col-lg-4 offset-lg-4  col-sm-8 offset-sm-2 col-12 offset-0 d-flex pb-3">
                    <button class="btn btn-success btn-md text-nowrap w-100 me-1" (click)="checkDownload('whatsapp')"
                        type="button">
                        <i class="fa fa-whatsapp me-2"></i><span class="d-none-sm">WhatsApp</span>
                    </button>
                    <button class="btn btn-primary btn-md text-nowrap w-100 ms-1" (click)="checkDownload('facebook')"
                        type="button">
                        <i class="fa fa-facebook me-2"></i>Facebook
                    </button>
                </div>
            </div>
        </div>
        <span class="w-auto mx-auto d-block text-center" *ngIf="this.postDetails?.info_show"><a
                [routerLink]="'/about-us'" class="text-danger fw-bold mx-auto text-decoration-none">More Info</a></span>
    </div>
</div>
<div class="modal fade" id="textModal" tabindex="-1" aria-labelledby="textModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="textModalLabel">{{textModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <form [formGroup]="inputTextForm" (ngSubmit)="onTextSubmit()">
                    <input type="text" formControlName="text" class="form-control form-control-lg fw-bold" #textInput>
                    <div class="d-flex mt-4">
                        <button class="btn btn-primary mx-auto" [disabled]="inputTextForm.invalid" type="submit"><i
                                class="fa fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cropperModal" tabindex="-1" aria-labelledby="cropperModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cropperModalLabel">{{cropperModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="cropper" alt="Crop" class="w-100" [src]="inputImageForm.get('image')?.value">
                <input #imageInput type="file" (change)="handleImageInputChange($event)" style="display: none">
                <form [formGroup]="inputImageForm" (ngSubmit)="onImageSubmit()">
                    <input type="hidden" formControlName="image">
                    <div class="d-flex mt-4">
                        <button class="btn btn-success mx-auto" (click)="openImageCropperDialog()" type="button"><i
                                class="fa fa-refresh"></i> Change Photo</button>
                        <button class="btn btn-primary mx-auto" [disabled]="inputImageForm.invalid"><i
                                class="fa fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imageCropper" tabindex="-1" aria-labelledby="imageCropperLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageCropperLabel">Crop Photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="imageToCropped" alt="Crop" class="w-100" [src]="">
            </div>
            <div class="modal-footer">
                <div class="d-flex mt-4">
                    <button class="btn btn-danger ms-3"
                        (click)="imageCropper.hide();formData.get(selectedImage+'-file')?.reset()"><i
                            class="fa fa-close"></i> Cancel</button>
                    <button class="btn btn-success ms-3" (click)="handleSelectedEvent()" type="button"><i
                            class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myInfo" tabindex="-1" aria-labelledby="myInfoLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myInfoLabel">Contact Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Hiren Sojitra</h5>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <a href="mailto:hirensojitra007@gmail.com"
                        class="form-control text-decoration-none fw-bold">hirensojitra007&#64;gmail.com</a>
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile:</label>
                    <a href="tel:+919429558759" class="form-control text-decoration-none fw-bold">+919429558759</a>
                </div>
                <div class="mb-3">
                    <label for="social" class="form-label">Social Links:</label><br>
                    <a href="http://www.facebook.com/SOJITRAHIREN" class="btn btn-primary m-2 text-decoration-none"
                        target="_blank"><i class="fa fa-facebook me-2"></i>Facebook</a>
                    <a href="http://www.instagram.com/HIREN_SOJITRA" class="btn btn-danger m-2 text-decoration-none"
                        target="_blank"><i class="fa fa-instagram me-2"></i>Instagram</a>
                    <a href="http://www.twitter.com/SOJITRA_HIREN" class="btn btn-dark m-2 text-decoration-none"
                        target="_blank"><i class="fa fa-twitter me-2"></i>Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>