<div class="container-fluid p-0 h-100 d-flex flex-column">
    <div class="d-flex align-items-center w-100 p-3 shadow border-bottom">
        <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)" accept=".svg, .jpg, .jpeg, .png">
        <button (click)="fileInput.click()" class="btn btn-success"><i class="fa fa-plus me-2"></i>Add Image</button>
        <button *ngIf="selected" class="btn btn-danger ms-auto" type="button" (click)="onDeleteImages()"><i class="fa fa-trash"></i></button>
    </div>
    <div class="d-flex align-items-center w-100 flex-grow-1 flex-column position-relative">
        <div class="w-100 h-100 posistion-absolute overflow-y-auto p-3">
            <div class="row g-3">
                <div *ngFor="let image of images;" class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="border rounded-2 p-2 h-100" [class.border-primary]="image.selected" [class.bg-primary]="image.selected">
                        <div class="h-100 w-100 d-flex flex-column">
                            <input type="checkbox" [value]="image.selected" (change)="onImageSelectionChange(image)" [id]="image.id" class="d-none">
                            <label [for]="image.id" class="flex-grow-1 bg-light d-flex flex-column" [title]="image.filename">
                                <div class="flex-grow-1 bg-light">
                                    <!-- <img [src]="(image.medium_url || image.thumb_url) + '?v=' + cacheBuster" alt="Image" class="img-fluid m-auto d-block"> -->
                                    <img [src]="'https://dummyimage.com/400x600/C5C5C5/c5c5c5.jpg'" alt="Image" class="img-fluid m-auto d-block">
                                </div>
                                <div class="d-flex w-100 justify-content-between align-items-center py-1 px-2 bg-dark text-white">
                                    <span class="text-truncate text-nowrap">{{image.filename}}</span>
                                    <small class="ps-3 text-end text-nowrap"><b>{{formatSize(image.size)}}</b></small>
                                </div>
                            </label>
                            <a href="{{image.url}}" class="btn btn-outline-dark mt-2" (click)="copyHrefToClipboard($event, image.url)"><i class="fa fa-copy"></i> Copy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-3 sticky-bottom flex-md-row flex-column bg-white p-3 shadow" pagination [currentPage]="1" [totalItems]="totalItems" (currentPageChange)="onCurrentPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" [pageSize]="pageSize" [pageSizes]="[10,20,30,50,100]"></div>
</div>
<div class="modal fade" id="uploadFile" tabindex="-1" aria-labelledby="uploadFileLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="uploadFileLabel">Upload Image File</h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <h5>Hiren Sojitra</h5>
                <div *ngIf="selectedImage" class="d-flex align-items-center mx-auto w-auto">
                    <img [src]="imageUrl" alt="Selected Image Preview" class="max-w-200-px max-h-300-px">
                </div>
            </div>
            <div class="modal-footer d-flex">
                <button type="button" class="btn btn-danger ms-auto" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-close me-2"></i>Close</button>
                <button class="btn btn-success ms-2" (click)="onUpload()" [disabled]="!selectedImage"><i class="fa fa-upload me-2"></i>Upload Image</button>
            </div>
        </div>
    </div>
</div>