<div class="d-flex vh-100 flex-column">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <span *ngIf="isAuthenticated&&name" class="me-3"><i class="fa fa-user me-2"></i>{{name}}</span>
            <div class="controls ms-auto">
                <button class="btn btn-sm btn-dark mx-1" routerLinkActive="bg-success border-success" *ngIf="isAuthenticated" [routerLink]="'/user-profile/view'">Profile</button>
                <button class="btn btn-sm btn-dark mx-1" routerLinkActive="bg-success border-success" *ngIf="isAdmin()" [routerLink]="'/img'">Images</button>
                <button class="btn btn-sm btn-dark mx-1" routerLinkActive="bg-success border-success" *ngIf="isAdmin()" [routerLink]="'/admin/users'">Users</button>
                <button class="btn btn-sm btn-dark mx-1" *ngIf="isAuthenticated" (click)="logout()">Logout</button>
                <button class="btn btn-sm btn-dark mx-1" *ngIf="!isAuthenticated" (click)="login()">Login</button>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 posision-relative">
        <div class="posision-absolute h-100 w-100 overflow-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>