<div class="container">
    <button (click)="openAddFolderModal()" class="btn btn-outline-success btn-sm my-2">
        <i class="fa fa-plus me-2"></i>Add Folder
    </button>
    <ul class="row g-2 list-unstyled">
        <li *ngFor="let folder of folders" class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="card custom-card border shadow-none">
                <div class="card-body">
                    <div class="mb-0 folder-svg-container d-flex flex-wrap align-items-center">
                        <div class="me-3 bg-lighter avatar avatar-lg border h-40-px w-40-px p-1 rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                                <rect width="256" height="256" fill="none"></rect>
                                <path d="M69.77,112H208V88a8,8,0,0,0-8-8H130.67a8,8,0,0,1-4.8-1.6L98.13,57.6a8,8,0,0,0-4.8-1.6H40a8,8,0,0,0-8,8V208l30.18-90.53A8,8,0,0,1,69.77,112Z" opacity="0.2"></path>
                                <path d="M32,208V64a8,8,0,0,1,8-8H93.33a8,8,0,0,1,4.8,1.6l27.74,20.8a8,8,0,0,0,4.8,1.6H200a8,8,0,0,1,8,8v24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16">
                                </path>
                                <path d="M32,208l30.18-90.53A8,8,0,0,1,69.77,112H232a8,8,0,0,1,7.59,10.53L211.09,208Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                            </svg>
                        </div>
                        <div>
                            <p class="fs-14 fw-medium mb-1 lh-1">
                                <a href="javascript:void(0);" class="link fw-bold text-decoration-none" [ngClass]="{'active pe-none': selectedFolderId == folder.id}" (click)="fetchImages(folder.id)">{{ folder.name }}</a>
                            </p>
                            <span class="text-muted fs-12">{{ folder.fileCount }} Files</span>
                        </div>
                        <div class="float-end ms-auto">
                            <div class="dropdown">
                                <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="">
                                    <i class="ri-more-2-fill fw-semibold text-muted"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="openFolderDeleteModal(folder.id, folder.name)">Delete</a> </li>
                                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="openRenameFolderModal(folder.id)">Rename</a> </li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Hide Folder</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="progress progress-xs mt-3">
                            <div class="progress-bar bg-primary progress-bar-animated progress-bar-striped" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div pagination [currentPage]="folderPage" [totalItems]="folderItems" [pageSize]="folderLimit" [pageSizes]="[30, 50, 100]" (currentPageChange)="onFolderPageChange($event)" (pageSizeChange)="onFolderPageSizeChange($event)"></div>

    <ng-container *ngIf="selectedFolderId">
        <div class="card shadow">
            <div class="card-header d-flex align-items-center">
                <h6 class="fw-bold m-0">{{ selectedFolderName }}</h6>
                <div class="ms-auto">
                    <label for="uploadImage" class="btn btn-success ms-2 btn-sm"><i class="fa fa-image me-2"></i>Upload Image</label>
                    <input class="d-none" type="file" (change)="onFileSelected($event)" id="uploadImage" />
                </div>
            </div>
            <div class="card-body">
                <ul class="row g-3 list-unstyled align-items-stretch">
                    <li *ngFor="let image of images" class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="d-flex h-100 flex-column p-2 border rounded shadow-sm">
                            <div class="img-container flex-grow-1 d-flex align-items-end mb-2">
                                <img [src]="apiUrl + '/user-img' + getImagePath(image) + '?quality=30'" alt="Image" class="img-fluid rounded m-auto" />
                            </div>
                            <div class="row g-2">
                                <div class="col-4">
                                    <button (click)="refreshImage(image.id, selectedFolderId)" class="btn btn-sm btn-outline-success w-100">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </div>
                                <div class="col-4">
                                    <a href="{{getImagePath(image)}}" class="btn btn-sm btn-outline-dark w-100" (click)="copyHrefToClipboard($event, getImagePath(image))"><i class="fa fa-copy"></i> Copy</a>
                                </div>
                                <div class="col-4">
                                    <button (click)="deleteImage(selectedFolderId, image.id)" class="btn btn-sm btn-outline-danger w-100">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>
</div>

<!-- Add Folder Modal -->
<div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="addFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFolderModalLabel">Add Folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addFolderForm">
                    <div class="mb-3">
                        <label for="folderName" class="form-label">Folder Name</label>
                        <input type="text" class="form-control" formControlName="folderName" id="folderName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addFolder()">Add Folder</button>
            </div>
        </div>
    </div>
</div>

<!-- Rename Folder Modal -->
<div class="modal fade" id="renameFolderModal" tabindex="-1" aria-labelledby="renameFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameFolderModalLabel">Rename Folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="renameFolderForm">
                    <div class="mb-3">
                        <label for="folderName" class="form-label">Folder Name</label>
                        <input type="text" class="form-control" formControlName="folderName" id="folderName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"><i class="fa fa-close me-2"></i>Cancel</button>
                <button type="button" class="btn btn-sm btn-success text-white" (click)="renameFolder()"><i class="fa fa-save me-2"></i>Save</button>
            </div>
        </div>
    </div>
</div>
<app-confirmation-modal [title]="confirmationTitle" [message]="confirmationMessage" (confirm)="deleteFolder()"></app-confirmation-modal>