<div class="position-relative">
  <div class="position-fixed bottom-0 end-0 p-3">
    <div class="toast"
      *ngFor="let toast of toastService.toasts; let i = index"
      [class]="toast.class || 'bg-primary'"
      [class.show]="toast.show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      [style]="
        'margin-bottom:' + (i === toastService.toasts.length - 1 ? '0' : '1rem')
      "
    >
      <div class="toast-header">
        <strong class="me-auto">{{ toast.title || "Notification" }}</strong>
        <small>{{ toast.time || "Now" }}</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
          (click)="removeToast(i)"
        ></button>
      </div>
      <div class="toast-body">{{ toast.message }}</div>
    </div>
  </div>
</div>
