<div class="header-container d-flex flex-md-row">
  <abs [menuData]="filteredMenu$ | async" [menuHover]="true" [toggleOutside]="true" [logo]="'assets/images/svg/logo-large.svg'" [compactLogo]="'assets/images/svg/logo.svg'"></abs>
  <button class="btn btn-primary menu-toggle m-0" (click)="toggleMenu()" aria-label="Menu" remSize [hPX]="46" [wPX]="46">
    <span class="fa fa-bars" [style.transform]="(menuStatus | async) ? 'rotate(-45deg)' : 'none'"></span>
  </button>
  <h1 class="h4 my-0 mx-auto">Village Directory</h1>
  <div class="d-flex align-items-center">
    <div class="btn notification me-4 p-0">
      <i class="fa fa-bell-o"></i>
      <span class="badge bg-danger">5</span>
    </div>
    <div class="dropdown border-start">
      <a class="btn dropdown-toggle py-0" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="imageUrl" class="img-thumbnail rounded-circle p-0" alt="{{user['firstname']}}">
        <span class="d-none d-md-block">{{userFullName ||"User Name"}}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end pb-0 pt-md-2" aria-labelledby="userDropdown">
        <li class="d-block d-md-none">
          <span class="dropdown-item fw-bold">{{userFullName ||"User Name"}}<small *ngIf="user.email" class="d-block fw-normal">{{user.email}}</small></span>
        </li>
        <li class="d-block d-md-none p-0">
          <hr class="dropdown-divider mb-0" />
        </li>
        <li><a class="dropdown-item border-bottom" routerLink="/user-profile/view">Profile</a></li>
        <li><a class="dropdown-item border-bottom btn" href="#">Settings</a></li>
        <li><a class="dropdown-item border-bottom btn" (click)="logout();false" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</div>