<div class="position-absolute h-100 w-100">
    <!-- <pre *ngIf="postDetailsForm.value">{{postDetailsForm.value | json}}</pre> -->
    <form class="container-fluid p-0 h-100 d-flex flex-column" [formGroup]="postDetailsForm" *ngIf="postDetailsForm"
        (ngSubmit)="onSubmit()">
        <div class="d-flex align-items-center w-100 p-3 shadow border-bottom">
            <div class="form-group d-flex">
                <div class="form-label d-none">Name</div>
                <label for="title" class="me-2 h4 m-0"><i class="fa fa-edit"></i></label>
                <input type="text" id="title" class="h4 m-0 border-0 border-secondary w-auto max-w-200-px"
                    formControlName="title" placeholder="Enter Image Name">
            </div>
            <div class="ms-auto text-nowrap d-flex">
                <button class="btn btn-success ms-2" title="Save"><i class="fa fa-save"></i></button>
                <button class="btn btn-success ms-2" *ngIf="postDetailsForm.get('id')?.value" type="button"
                    (click)="onSubmit(true)" title="Copy"><i class="fa fa-copy"></i></button>
                <button class="btn btn-danger ms-2" type="button" title="Cancel"><i class="fa fa-close"></i></button>
                <button class="btn btn-danger ms-2" type="button" title="Delete"
                    *ngIf="postDetailsForm.get('id')?.value" (click)="confirmDelete.show()"><i
                        class="fa fa-trash"></i></button>
            </div>
        </div>
        <div class="d-flex align-items-center w-100 flex-grow-1 flex-column position-relative">
            <div class="w-100 h-100 position-absolute overflow-y-auto">
                <div class="row d-flex h-100 g-0 g-md-3">
                    <div class="col-md-6 col-lg-7 py-3 position-relative min-h-180-px">
                        <div class="position-absolute w-100 overflow-hidden start-0 top-0 bg-light p-3 svg-container"
                            (touchmove)="onTouch($event)">
                            <svg version="2" xmlns="https://www.w3.org/2000/svg"
                                class="svg-content max-w-100-p max-h-100-p img-fluid mx-auto d-block"
                                preserveAspectRatio="xMidYMid meet" [style.transform]="'scale(' + scaleFactor + ')'"
                                (dataChanges)="updateValue($event)" (getSelected)="getSelected($event);" svgDraw
                                [postDataSet]="postDetailsForm.value" #svgElement></svg>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 d-flex flex-column position-relative py-none py-md-3">
                        <div class="flex-grow-1 position-relative mb-2">
                            <div class="position-absolute w-100 px-3 overflow-auto h-100 py-none py-md-3">
                                <div class="row g-3" [class.d-none]="selectedElement==postDetails.data.length">
                                    <input type="hidden" id="id" class="form-control" formControlName="id">
                                    <input type="hidden" id="deleted" class="form-control" formControlName="deleted">
                                    <div class="form-group col-12" [class.d-none]="selectedElement!==-1">
                                        <label for="info" class="form-label">Info</label>
                                        <textarea id="info" class="form-control" formControlName="info"></textarea>
                                    </div>
                                    <!-- <div class="form-group col-12" [class.d-none]="selectedElement!==-1">
                                <label class="form-label">Personal Info</label>
                                <input class="form-check-input" type="checkbox" formControlName="info_show">
                            </div> -->
                                    <div class="col-4">
                                        <div class="form-group form-check form-switch"
                                            [class.d-none]="selectedElement!==-1">
                                            <label class="form-check-label form-label">Published</label>
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                formControlName="published">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group form-check form-switch"
                                            [class.d-none]="selectedElement!==-1">
                                            <label class="form-check-label form-label">Personal Info</label>
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                formControlName="info_show">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group form-check form-switch"
                                            [class.d-none]="selectedElement!==-1">
                                            <label class="form-check-label form-label">Track</label>
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                formControlName="track">
                                        </div>
                                    </div>
                                    <div class="form-group col-6" [class.d-none]="selectedElement!==-1">
                                        <label for="category" class="form-label">Category</label>
                                        <select id="category" class="form-select" formControlName="category_id">
                                            <option [ngValue]="null" disabled>Select a Category</option>
                                            <option *ngFor="let category of categories$ | async" [value]="category.id">
                                                {{category.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6" [class.d-none]="selectedElement!==-1">
                                        <label for="subcategory" class="form-label">Subcategory</label>
                                        <select id="subcategory" class="form-select" formControlName="subcategory_id" [disabled]="!(subcategories$ | async)">
                                            <option [ngValue]="null" disabled>Select a Subcategory</option>
                                            <option *ngFor="let subcategory of subcategories$ | async" [value]="subcategory.id">
                                                {{subcategory.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6" [class.d-none]="selectedElement!==-1">
                                        <label for="h" class="form-label">Height</label>
                                        <input type="number" id="h" class="form-control" formControlName="h">
                                    </div>
                                    <div class="form-group col-6" [class.d-none]="selectedElement!==-1">
                                        <label for="w" class="form-label">Width</label>
                                        <input type="number" id="w" class="form-control" formControlName="w">
                                    </div>
                                    <div class="form-group col-12" [class.d-none]="selectedElement!==-1">
                                        <label for="backgroundurl" class="form-label">Background URL</label>
                                        <input type="text" id="backgroundurl" class="form-control"
                                            formControlName="backgroundurl">
                                    </div>
                                    <div class="form-group col-12" [class.d-none]="selectedElement!==-1">
                                        <label for="download_counter" class="form-label">Download Counter</label>
                                        <input type="number" id="download_counter" class="form-control"
                                            formControlName="download_counter">
                                    </div>
                                    <div formArrayName="data" class="col-12">
                                        <!-- Use ngFor to iterate over each element in the data form array -->
                                        <div *ngFor="let item of dataArray.controls; let i = index" class="row g-3"
                                            [class.d-none]="selectedElement!==i">
                                            <ng-container [formGroupName]="i">
                                                <div class="form-group col-12"
                                                    [class.d-none]="!getActiveControl(i,'control')">
                                                    <label class="form-label">Title</label>
                                                    <input type="text" class="form-control" formControlName="title">
                                                </div>
                                                <div class="col-8 d-flex"
                                                    [class.d-none]="!getActiveControl(i,'control')">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox"
                                                            [id]="'boxed-'+i" formControlName="boxed">
                                                        <label class="form-check-label" [for]="'boxed-'+i">Boxed</label>
                                                    </div>
                                                    <div class="form-check form-switch  ms-4">
                                                        <input class="form-check-input" type="checkbox"
                                                            [id]="'can-edit-'+i" formControlName="editable">
                                                        <label class="form-check-label" [for]="'can-edit-'+i">Can
                                                            Edit</label>
                                                    </div>
                                                </div>
                                                <div class="col-4 d-flex"
                                                    [class.d-none]="!getActiveControl(i,'control')">
                                                    <button class="btn btn-sm btn-danger ms-auto" type="button"
                                                        (click)="removeData(i)"><i class="fa fa-trash"></i></button>
                                                </div>
                                                <div class="form-group col-12 col-md-6 offset-0 offset-md-3"
                                                    [class.d-none]="!getActiveControl(i,'position')">
                                                    <div class="row g-3">
                                                        <div class="col-6">
                                                            <button
                                                                class="btn btn-flat d-flex align-items-center text-decoration-none text-dark d-block rounded-2 border-dark border-1 border p-2 w-100"
                                                                type="button" (click)="i>0&&moveDown(i)"
                                                                [class.disabled]="i==0">
                                                                <i class="fa fa-x-layer-backward fa-2x me-2"></i>
                                                                Backward
                                                            </button>
                                                        </div>
                                                        <div class="col-6">
                                                            <button
                                                                class="btn btn-flat d-flex align-items-center text-decoration-none text-dark d-block rounded-2 border-dark border-1 border p-2 w-100"
                                                                type="button"
                                                                (click)="i<dataArray.controls.length-1&&moveUp(i)"
                                                                [class.disabled]="i==dataArray.controls.length-1">
                                                                <i class="fa fa-x-layer-forward fa-2x me-2"></i>
                                                                Forward
                                                            </button>
                                                        </div>
                                                        <div class="col-6">
                                                            <button
                                                                class="btn btn-flat d-flex align-items-center text-decoration-none text-dark d-block rounded-2 border-dark border-1 border p-2 w-100"
                                                                type="button" (click)="i>0&&moveToBack(i)"
                                                                [class.disabled]="i==0">
                                                                <i class="fa fa-x-back fa-2x me-2"></i> To Back
                                                            </button>
                                                        </div>
                                                        <div class="col-6">
                                                            <button
                                                                class="btn btn-flat d-flex align-items-center text-decoration-none text-dark d-block rounded-2 border-dark border-1 border p-2 w-100"
                                                                type="button"
                                                                (click)="i<dataArray.controls.length-1&&moveToTop(i)"
                                                                [class.disabled]="i==dataArray.controls.length-1">
                                                                <i class="fa fa-x-front fa-2x me-2"></i> To Top
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-container formGroupName="rect" *ngIf="item.get('rect')">
                                                    <div class="row g-3"
                                                        [class.d-none]="!getActiveControl(i,'position')">
                                                        <div class="form-group col-6">
                                                            <label for="x" class="form-label">X</label>
                                                            <input type="text" id="x" class="form-control"
                                                                formControlName="x">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label for="y" class="form-label">Y</label>
                                                            <input type="text" id="y" class="form-control"
                                                                formControlName="y">
                                                        </div>
                                                    </div>
                                                    <div class="row g-3"
                                                        [class.d-none]="!getActiveControl(i,'dimension')">
                                                        <div class="form-group col-6">
                                                            <label for="width" class="form-label">Width</label>
                                                            <input type="text" id="width" class="form-control"
                                                                formControlName="width">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label for="height" class="form-label">Height</label>
                                                            <input type="text" id="height" class="form-control"
                                                                formControlName="height">
                                                        </div>
                                                    </div>
                                                    <div class="row g-3" [class.d-none]="!getActiveControl(i,'fill')">
                                                        <div class="col-12 form-group">
                                                            <label class="form-label d-block">Fill</label>
                                                            <color-picker [colorSet]="colorSet"
                                                                [getActiveControl]="getActiveControl"
                                                                formControlName="fill"></color-picker>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label [for]="'fillOpacity'+i"
                                                                class="form-label">Opacity</label>
                                                            <input type="range" [id]="'fillOpacity'+i"
                                                                class="form-range" min="0" max="1" step="0.01"
                                                                formControlName="fillOpacity">
                                                        </div>
                                                    </div>
                                                    <div class="row g-3"
                                                        [class.d-none]="!getActiveControl(i,'opacity')">
                                                        <div class="form-group col-12">
                                                            <label [for]="'opacity'+i"
                                                                class="form-label">Opacity</label>
                                                            <input type="range" [id]="'opacity'+i" class="form-range"
                                                                min="0" max="1" step="0.01" formControlName="opacity">
                                                        </div>
                                                    </div>
                                                    <div class="row g-3" [class.d-none]="!getActiveControl(i,'origin')">
                                                        <div class="form-group col-12">
                                                            <label for="originX" class="form-label">Origin X</label>
                                                            <input type="text" id="originX" class="form-control"
                                                                formControlName="originX">
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label for="originY" class="form-label">Origin Y</label>
                                                            <input type="text" id="originY" class="form-control"
                                                                formControlName="originY">
                                                        </div>
                                                    </div>
                                                    <div class="row g-3" [class.d-none]="!activeMap[i]?.has('rotate')">
                                                        <div class="form-group col-6">
                                                            <label [for]="'rotate'+i" class="form-label">Rotate</label>
                                                            <input type="range" [id]="'rotate'+i" class="form-range"
                                                                min="0" max="360" step="1" formControlName="rotate">
                                                        </div>
                                                    </div>
                                                    <!-- Border Properties -->
                                                    <div class="row g-3" [class.d-none]="!getActiveControl(i,'border')">
                                                        <div class="form-group col-12">
                                                            <label [for]="'stroke'+i" class="form-label">Stroke</label>
                                                            <color-picker [colorSet]="colorSet"
                                                                [getActiveControl]="getActiveControl"
                                                                formControlName="stroke"></color-picker>
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label [for]="'strokeWidth'+i" class="form-label">Stroke
                                                                Width</label>
                                                            <input type="text" [id]="'strokeWidth'+i"
                                                                class="form-control" formControlName="strokeWidth">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label [for]="'rx-'+i"
                                                                class="form-label">RX({{item.get('rect')?.get('rx')?.value}})</label>
                                                            <input type="range" [id]="'rx-'+i" class="form-range"
                                                                min="0" [max]="item.get('rect')?.get('width')?.value"
                                                                step="0.01" formControlName="rx">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label [for]="'ry-'+i" class="form-label">RY</label>
                                                            <input type="range" [id]="'ry-'+i" class="form-range"
                                                                min="0" [max]="item.get('rect')?.get('height')?.value"
                                                                step="0.01" formControlName="ry">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label [for]="'strokeOpacity'+i"
                                                                class="form-label">Opacity</label>
                                                            <input type="range" [id]="'strokeOpacity'+i"
                                                                class="form-range" min="0" max="1" step="0.01"
                                                                formControlName="strokeOpacity">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label [for]="'strokeAlignment'+i" class="form-label">Stroke
                                                                Width</label>
                                                            <select [id]="'strokeAlignment'+i" class="form-select"
                                                                formControlName="strokeAlignment">
                                                                <option value="inside">Inside</option>
                                                                <option value="outside">Outside</option>
                                                                <option value="center">Center</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </ng-container>

                                                <ng-container formGroupName="circle" *ngIf="item.get('circle')">
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'position')">
                                                        <label for="cx" class="form-label">CX</label>
                                                        <input type="text" id="cx" class="form-control"
                                                            formControlName="cx">
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'position')">
                                                        <label for="cy" class="form-label">CY</label>
                                                        <input type="text" id="cy" class="form-control"
                                                            formControlName="cy">
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'dimension')">
                                                        <label for="r" class="form-label">Size</label>
                                                        <input type="range" class="form-range" min="0" max="1024"
                                                            step="0.5" formControlName="r">
                                                    </div>
                                                    <div class="col-12" [class.d-none]="!getActiveControl(i,'fill')">
                                                        <div class="form-group">
                                                            <label class="form-label d-block">Fill</label>
                                                            <color-picker [colorSet]="colorSet"
                                                                [getActiveControl]="getActiveControl"
                                                                formControlName="fill"></color-picker>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'fill')">
                                                        <label [for]="'fillOpacity-'+i"
                                                            class="form-label">Opacity</label>
                                                        <input type="range" [id]="'fillOpacity-'+i" class="form-range"
                                                            min="0" max="1" step="0.01" formControlName="fillOpacity">
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'opacity')">
                                                        <label [for]="'opacity'+i" class="form-label">Opacity</label>
                                                        <input type="range" [id]="'opacity'+i" class="form-range"
                                                            min="0" max="1" step="0.01" formControlName="opacity">
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'origin')">
                                                        <label for="originX" class="form-label">Origin X</label>
                                                        <input type="text" id="originX" class="form-control"
                                                            formControlName="originX">
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'origin')">
                                                        <label for="originY" class="form-label">Origin Y</label>
                                                        <input type="text" id="originY" class="form-control"
                                                            formControlName="originY">
                                                    </div>
                                                    <!-- Stroke Properties -->
                                                    <div class="form-group col-12"
                                                        [class.d-none]="!getActiveControl(i,'border')">
                                                        <label [for]="'stroke'+i" class="form-label">Color</label>
                                                        <color-picker [colorSet]="colorSet"
                                                            [getActiveControl]="getActiveControl"
                                                            formControlName="stroke"></color-picker>
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'border')">
                                                        <label [for]="'strokeWidth-'+i" class="form-label">Width</label>
                                                        <input type="range" [id]="'strokeWidth-'+i" class="form-range"
                                                            min="0" [max]="item.get('circle')?.get('r')?.value"
                                                            step="0.1" formControlName="strokeWidth">
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'border')">
                                                        <label [for]="'strokeOpacity'+i"
                                                            class="form-label">Opacity</label>
                                                        <input type="range" [id]="'strokeOpacity'+i" class="form-range"
                                                            min="0" max="1" step="0.01" formControlName="strokeOpacity">
                                                    </div>
                                                    <div class="form-group col-6"
                                                        [class.d-none]="!getActiveControl(i,'border')">
                                                        <label [for]="'strokeAlignment'+i"
                                                            class="form-label">Width</label>
                                                        <select [id]="'strokeAlignment'+i" class="form-select"
                                                            formControlName="strokeAlignment">
                                                            <option value="inside">Inside</option>
                                                            <option value="outside">Outside</option>
                                                            <option value="center">Center</option>
                                                        </select>
                                                    </div>
                                                </ng-container>

                                                <ng-container formGroupName="ellipse" *ngIf="item.get('ellipse')">
                                                    <div class="form-group col-6">
                                                        <label for="cx" class="form-label">CX</label>
                                                        <input type="text" id="cx" class="form-control"
                                                            formControlName="cx">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="cy" class="form-label">CY</label>
                                                        <input type="text" id="cy" class="form-control"
                                                            formControlName="cy">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="rx" class="form-label">RX</label>
                                                        <input type="text" id="rx" class="form-control"
                                                            formControlName="rx">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="ry" class="form-label">RY</label>
                                                        <input type="text" id="ry" class="form-control"
                                                            formControlName="ry">
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label d-block">Fill</label>
                                                            <color-picker [colorSet]="colorSet"
                                                                [getActiveControl]="getActiveControl"
                                                                formControlName="fill"></color-picker>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-12">
                                                        <label [for]="'opacity'+i" class="form-label">Opacity</label>
                                                        <input type="range" [id]="'opacity'+i" class="form-range"
                                                            min="0" max="1" step="0.01" formControlName="opacity">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="originX" class="form-label">Origin X</label>
                                                        <input type="text" id="originX" class="form-control"
                                                            formControlName="originX">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="originY" class="form-label">Origin Y</label>
                                                        <input type="text" id="originY" class="form-control"
                                                            formControlName="originY">
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label [for]="'rotate'+i" class="form-label">Rotation</label>
                                                        <input type="range" [id]="'rotate'+i" class="form-range" min="0"
                                                            max="360" step="0.5" formControlName="rotate">
                                                    </div>
                                                </ng-container>
                                                <ng-container formGroupName="line" *ngIf="item.get('line')">
                                                    <div class="form-group col-6">
                                                        <label for="x1" class="form-label">X1</label>
                                                        <input type="text" id="x1" class="form-control"
                                                            formControlName="x1">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="y1" class="form-label">Y1</label>
                                                        <input type="text" id="y1" class="form-control"
                                                            formControlName="y1">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="x2" class="form-label">X2</label>
                                                        <input type="text" id="x2" class="form-control"
                                                            formControlName="x2">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="y2" class="form-label">Y2</label>
                                                        <input type="text" id="y2" class="form-control"
                                                            formControlName="y2">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="stroke" class="form-label">Stroke</label>
                                                        <input type="text" id="stroke" class="form-control"
                                                            formControlName="stroke">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="strokeWidth" class="form-label">Stroke
                                                            Width</label>
                                                        <input type="text" id="strokeWidth" class="form-control"
                                                            formControlName="strokeWidth">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label [for]="'opacity'+i" class="form-label">Opacity</label>
                                                        <input type="range" [id]="'opacity'+i" class="form-range"
                                                            min="0" max="1" step="0.01" formControlName="opacity">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="originX" class="form-label">Origin X</label>
                                                        <input type="text" id="originX" class="form-control"
                                                            formControlName="originX">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="originY" class="form-label">Origin Y</label>
                                                        <input type="text" id="originY" class="form-control"
                                                            formControlName="originY">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="rotate" class="form-label">Rotation</label>
                                                        <input type="text" id="rotate" class="form-control"
                                                            formControlName="rotate">
                                                    </div>
                                                </ng-container>
                                                <ng-container  *ngIf="item.get('text') as textGroup">
                                                    <app-text-properties formGroupName="text"
                                                        [formGroupData]="textGroup" [index]="i"
                                                        [controlSet]="controlSet" [colorSet]="colorSet"
                                                        [selectData]="selectData"
                                                        (apiDataChange)="handleApiDataChange($event)">
                                                    </app-text-properties>
                                                </ng-container>
                                                <ng-container *ngIf="item.get('image') as imgGroup">
                                                    <app-image-properties formGroupName="image"
                                                        [formGroupData]="imgGroup" [index]="i"
                                                        [controlSet]="controlSet" [colorSet]="colorSet"></app-image-properties>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div cdkDropList [cdkDropListData]="postDetails.data"
                                    (cdkDropListDropped)="drop($event)"
                                    *ngIf="selectedElement==postDetails.data.length">
                                    <div *ngFor="let item of postDetails.data; let i = index" cdkDrag
                                        class="drag-item h-40-px pe-5 position-relative d-flex rounded-3 overflow-hidden">
                                        <div cdkDragHandle
                                            class=" position-absolute h-100 w-40-px end-0 top-0 d-flex align-items-center justify-content-center bg-secondary text-white">
                                            <i class="fa fa-arrows"></i>
                                        </div>
                                        <button *ngIf="item.title"
                                            class="btn btn-flat outline-0 min-h-100-p flex-grow-1 p-2 d-flex align-items-center text-truncate"
                                            (click)="selectedElement=i">{{ item.title }}</button>
                                        <button type="button"
                                            class="btn btn-sm border-0 btn-outline-danger mx-1 my-auto"
                                            (click)="removeData(i)" remSize [wPX]="30" [hPX]="30">
                                            <i class="fa fa-trash"></i></button>
                                        <button type="button"
                                            class="btn btn-sm border-0 btn-outline-secondary mx-1 my-auto"
                                            (click)="duplicateData(i)" remSize [wPX]="30" [hPX]="30">
                                            <i class="fa fa-copy"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="d-flex align-item-center justify-content-stretch position-static w-100-p shadow start-0 bottom-0 p-2 bg-white">
                            <button type="button"
                                class="add-container min-w-40-px min-h-40-px rounded-circle btn btn-secondary p-0"
                                (click)="toggleExpand($event)" *ngIf="selectedElement==postDetails.data.length">
                                <i class="fa w-40-px h-40-px d-flex align-items-center justify-content-center"
                                    [class.fa-plus]="!isExpanded" [class.fa-close]="isExpanded"></i>
                            </button>
                            <button type="button"
                                class="add-container min-w-40-px min-h-40-px rounded-0 border-0 btn btn-flat border-end p-0"
                                *ngIf="selectedElement!==postDetails.data.length"
                                (click)="selectedElement=postDetails.data.length">
                                <i
                                    class="fa w-40-px h-40-px d-flex align-items-center justify-content-center fa-close"></i>
                            </button>
                            <div class="control-container flex-grow-1 px-0 overflow-auto">
                                <ng-container *ngFor="let item of dataArray.controls; let i = index" class="row g-3"
                                    [class.d-none]="selectedElement!==i">
                                    <div class="position-relative" *ngIf="selectedElement==i">
                                        <!-- <mat-tab-group class="control-group mat-elevation-z1"
                                    [(selectedIndex)]="activeControlIndex" class="h-45-px"
                                    (selectedTabChange)="setActiveControl(i, $event.index)">
                                    <mat-tab *ngFor="let control of controlSet[i]; let j = index"
                                        [label]="control.title">
                                        <ng-template mat-tab-label>
                                            <span class="p-0 fw-bold min-w-80-px"
                                                [ngClass]="{'pe-none': control.active}">
                                                <label
                                                    class="d-flex flex-column align-items-center justify-content-center px-2 py-1 link"
                                                    [for]="'control-' + i + '-' + j" [title]="control.id">
                                                    <i [class]="'d-flex align-items-center justify-content-center rounded-2 mt-1 w-25-px h-25-px fa ' + control.icon"
                                                        [ngClass]="{
                                            'bg-secondary': control.active,
                                            'text-light': control.active,
                                            }"></i>

                                                    <small
                                                        class="d-block text-nowrap mt-1">{{control.title}}</small></label>
                                            </span>
                                        </ng-template>
                                    </mat-tab>
                                </mat-tab-group> -->

                                        <div class="btn-group btn-group-toggle w-100 rounded-0 control-group"
                                            #controlGroup scrollCenter [activeIndexSet]="activeControlIndex"
                                            [selectedIndexSet]="selectedElement||-1">
                                            <ng-container *ngFor="let control of controlSet[i]; let j = index">
                                                <span class="p-0 fw-bold min-w-80-px"
                                                    [ngClass]="{'pe-none': control.active}">
                                                    <input type="radio" class="btn-check"
                                                        [id]="'control-' + i + '-' + j" [value]="control.id"
                                                        [checked]="control.active" (change)="setActiveControl(i, j);">
                                                    <label
                                                        class="d-flex flex-column align-items-center justify-content-center px-2 py-1 link"
                                                        [for]="'control-' + i + '-' + j" [title]="control.id">
                                                        <i [class]="'d-flex align-items-center justify-content-center rounded-2 mt-1 w-25-px h-25-px fa ' + control.icon"
                                                            [ngClass]="{
                                            'bg-secondary': control.active,
                                            'text-light': control.active,
                                            }"></i>

                                                        <small
                                                            class="d-block text-nowrap mt-1">{{control.title}}</small></label>
                                                </span>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fab-container" [class.expanded]="isExpanded" (click)="toggleExpand($event)">
            <div class="sub-button">
                <a href="#" class="shadow" (click)="addData('rect');false;">
                    <i class="fa fa-square"></i><span class="shadow">Rect</span>
                </a>
            </div>
            <div class="sub-button">
                <a href="#" class="shadow" (click)="addData('circle');false;">
                    <i class="fa fa-circle"></i><span class="shadow">Circle</span>
                </a>
            </div>
            <div class="sub-button">
                <a href="#" class="shadow" (click)="addData('ellipse');false;">
                    <i class="fa fa-circle"></i><span class="shadow">Ellipse</span>
                </a>
            </div>
            <div class="sub-button">
                <a href="#" class="shadow" (click)="addData('line');false;">
                    <i class="fa fa-minus"></i><span class="shadow">Line</span>
                </a>
            </div>
            <div class="sub-button">
                <a href="#" class="shadow" (click)="addData('text');false;">
                    <i class="fa fa-font"></i><span class="shadow">Text</span>
                </a>
            </div>
            <div class="sub-button">
                <a href="#" class="shadow" (click)="addData('image');false;">
                    <i class="fa fa-image"></i><span class="shadow">Image</span>
                </a>
            </div>
        </div>
    </form>
</div>

<div id="confirmDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="btnDelete" (click)="softDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>