<div class="h-100 d-flex flex-column p-3">
    <div class="flex-grow-1 position-relative overflow-hidden">
        <div class="position-absolute h-100 w-100 d-flex overflow-auto flex-column">
            <div class="container h-100 w-100">
                <div class="row g-3">
                    <div class="col-12 pb-3">
                        <button class="btn btn-success" [routerLink]="'/images/generate'" target="_blank"><i class="fa fa-plus me-2"></i>Image</button>
                    </div>
                    <ng-container *ngIf="posts.length">
                        <div class="col-12 px-3">
                            <div class="row g-3" data-masonry="{'percentPosition': true }" id="masonry-grid">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-6 masonry-box" *ngFor="let post of posts; let i= index">
                                    <div class="position-relative">
                                        <svg class="svg-content max-w-100-p max-h-100-p img-fluid m-auto d-block" preserveAspectRatio="xMidYMid meet" svgDraw [postDataSet]="post" [loadOnly]="true" (backgroundLoaded)="onSvgLoad()"></svg>
                                        <div class="d-flex flex-column position-absolute start-0 top-0 h-100 w-100 p-3 ">
                                            <div class="d-flex mb-auto">
                                                <a class="btn btn-secondary btn-sm me-auto" [routerLink]="'/images/generate?img=' + post.id" target="_blank" *ngIf="isAdmin()"><i class="fa fa-edit"></i>Edit</a>
                                                <a class="btn btn-secondary btn-sm ms-auto" [routerLink]="'/poster/' + post.id" target="_blank"><i class="fa fa-eye"></i>View</a>
                                            </div>
                                        </div>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{post.download_counter}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="btn-group btn-group-toggle py-3">
                                <button class="btn btn-outline-dark" (click)="onPageChange(1)" [disabled]="currentPage === 1">First</button>
                                <button class="btn btn-outline-dark" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
                                <button class="btn" *ngFor="let page of getPaginationControls()" (click)="onPageChange(page)" [ngClass]="{'btn-outline-dark': page !== currentPage, 'btn-outline-primary active': page === currentPage}">
                                    {{ page }}
                                </button>
                                <button class="btn btn-outline-dark" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
                                <button class="btn btn-outline-dark" (click)="onPageChange(totalPages)" [disabled]="currentPage === totalPages">Last</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>