<div class="user-layout container-fluid px-0 h-100 w-100">
  <div class="row gx-0">
    <nav class="col-12 col-lg-2 col-md-3 sidebar bg-white border-end">
      <h4 class="sidebar-title px-4 pt-4">Settings</h4>
      <ul class="nav flex-column mt-3 px-2">
        <li *ngFor="let item of navItems" class="nav-item">
          <a class="nav-link" routerLink="{{ item.path }}" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
    <main class="col-12 col-lg-10 col-md-9 content p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>