<div class="container">
  <button (click)="openAddFolderModal()" class="btn btn-outline-success btn-sm my-2">
    <i class="fa fa-plus me-2"></i>Add Folder
  </button>
  <button (click)="loadFolderCount()" class="btn btn-outline-success btn-sm my-2">
    <i class="fa fa-plus me-2"></i>Load
  </button>
  <ul class="row g-2 list-unstyled">
    <li *ngFor="let folder of folders" class="col-lg-2 col-md-3 col-sm-4 col-6">
      <div class="btn-group w-100" role="group">
        <button class="d-flex text-truncate btn btn-outline-dark btn-sm align-items-center" [ngClass]="{'active pe-none': selectedFolderId == folder.id}" (click)="fetchImages(folder.id)" [title]="folder.name">
          <i class="fa fa-folder me-2"></i>{{ folder.name }}
        </button>
        <button (click)="openRenameFolderModal(folder.id)" class="btn btn-sm btn-outline-secondary">
          <i class="fa fa-edit"></i>
        </button>
        <button (click)="openFolderDeleteModal(folder.id, folder.name)" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
      </div>
    </li>
  </ul>
  <div pagination [currentPage]="folderPage" [totalItems]="folderItems" [pageSize]="folderLimit" [pageSizes]="[30, 50, 100]" (currentPageChange)="onFolderPageChange($event)" (pageSizeChange)="onFolderPageSizeChange($event)"></div>
  <ng-container *ngIf="selectedFolderId">
    <div class="card shadow">
      <div class="card-header d-flex align-items-center">
        <h6 class="fw-bold m-0">{{ selectedFolderName }}</h6>
        <div class="ms-auto">
          <label for="uploadImage" class="btn btn-success ms-2 btn-sm"><i class="fa fa-image me-2"></i>Upload Image</label>
          <input class="d-none" type="file" (change)="onFileSelected($event)" id="uploadImage" />
        </div>
      </div>
      <div class="card-body">
        <ul class="row g-3 list-unstyled align-items-stretch">
          <li *ngFor="let image of images" class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="d-flex h-100 flex-column p-2 border rounded shadow-sm">
              <div class="img-container flex-grow-1 d-flex align-items-end mb-2">
                <img [src]="apiUrl + '/img' + getImagePath(image) + '?quality=30'" alt="Image" class="img-fluid rounded m-auto" />
              </div>
              <div class="row g-2">
                <div class="col-4">
                  <button (click)="refreshImage(image.id, selectedFolderId)" class="btn btn-sm btn-outline-success w-100">
                    <i class="fa fa-refresh"></i>
                  </button>
                </div>
                <div class="col-4">
                  <a href="{{getImagePath(image)}}" class="btn btn-sm btn-outline-dark w-100" (click)="copyHrefToClipboard($event, getImagePath(image))">{{image.url}}<i class="fa fa-copy"></i> Copy</a>
                </div>
                <div class="col-4">
                  <button (click)="deleteImage(selectedFolderId, image.id)" class="btn btn-sm btn-outline-danger w-100">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>

<!-- Add Folder Modal -->
<div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="addFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFolderModalLabel">Add Folder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addFolderForm">
          <div class="mb-3">
            <label for="folderName" class="form-label">Folder Name</label>
            <input type="text" class="form-control" formControlName="folderName" id="folderName" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addFolder()">Add Folder</button>
      </div>
    </div>
  </div>
</div>
<!-- Rename Folder Modal -->
<div class="modal fade" id="renameFolderModal" tabindex="-1" aria-labelledby="renameFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renameFolderModalLabel">Rename Folder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="renameFolderForm">
          <div class="mb-3">
            <label for="folderName" class="form-label">Folder Name</label>
            <input type="text" class="form-control" formControlName="folderName" id="folderName" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"><i class="fa fa-close me-2"></i>Cancel</button>
        <button type="button" class="btn btn-sm btn-success text-white" (click)="renameFolder()"><i class="fa fa-save me-2"></i>Save</button>
      </div>
    </div>
  </div>
</div>
<app-confirmation-modal [title]="confirmationTitle" [message]="confirmationMessage" (confirm)="deleteFolder()"></app-confirmation-modal>