<div class="w-100 h-100 overflow-only-y d-flex flex-column position-absolute">
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" [routerLink]="'/post-management/post-category'">Post Categories</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#postCategoryNav"
      aria-controls="postCategoryNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="postCategoryNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="tab1a" data-bs-toggle="pill" data-bs-target="#1a" type="button" role="tab"
            aria-controls="1a" aria-selected="true">
            Active Post Categories
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="tab2a" data-bs-toggle="pill" data-bs-target="#2a" type="button" role="tab"
            aria-controls="2a" aria-selected="false">
            Deleted Post Categories
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="tab-content flex-grow-1 p-3 bg-white">
    <div class="tab-pane fade show active position-relative h-100" id="1a" role="tabpanel" aria-labelledby="tab1a">
      <div class="position-absolute h-100 w-100 d-flex flex-column">
        <div class="row g-2 align-items-center">
          <div class="col-12 ms-auto d-flex">
            <button class="btn btn-success text-white flex-grow-1" (click)="openPostCategoryModal()">
              <i class="fa fa-plus me-2"></i> Add PostCategory
            </button>
            <button class="btn btn-danger ms-2 flex-grow-1" *ngIf="selectedActivePostCategories.length > 0"
              (click)="deleteSelectedPostCategories()">
              <i class="fa fa-trash me-2"></i>Delete Selected
            </button>
            <button class="btn btn-secondary ms-2 flex-grow-1" *ngIf="selectedActivePostCategories.length > 0"
              (click)="editSelectedPostCategories()">
              <i class="fa fa-edit me-2"></i>Edit Selected
            </button>
          </div>
        </div>
        <div class="flex-grow-1 position-relative">
          <div class="position-absolute overflow-y-auto h-100 w-100">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th></th>
                  <th>SR.</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let postCategory of postCategories; let i = index" class="align-middle"
                  [ngClass]="{'table-secondary':postCategory.selected}">
                  <td [width]="50">
                    <input type="checkbox" [(ngModel)]="postCategory.selected"
                      (change)="updateSelectedActivePostCategories()" />
                  </td>
                  <td [width]="80">{{i + activePostCategoryPagination.limit * (activePostCategoryPagination.page - 1) +
                    1 }}
                  </td>
                  <td [width]="80">{{ postCategory.id }}</td>
                  <td>{{ postCategory.name }}</td>
                  <td>{{ postCategory.description }}</td>
                  <td [width]="100">
                    <button class="btn btn-dark btn-md me-2" (click)="editPostCategory(postCategory)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-md" (click)="deletePostCategory(postCategory.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div pagination [currentPage]="activePostCategoryPagination.page" [totalItems]="totalActivePostCategories"
          [pageSize]="activePostCategoryPagination.limit" [pageSizes]="[10, 20, 30]"
          (currentPageChange)="changeActivePage($event)" (pageSizeChange)="changeActivePageSize($event)"
          class="mt-0 mb-0 px-3"></div>
      </div>
    </div>
    <div class="tab-pane fade position-relative h-100" id="2a" role="tabpanel" aria-labelledby="tab2a">
      <div class="position-absolute h-100 w-100 d-flex flex-column">
        <!-- toolbar -->
        <div class="row g-2 align-items-center">
          <div class="col-12 ms-auto d-flex">
            <button class="btn btn-secondary flex-grow-1" *ngIf="selectedDeletedPostCategories.length > 0"
              (click)="restoreSelectedPostCategories()">
              <i class="fa fa-refresh me-2"></i> Restore Selected
            </button>
          </div>
        </div>

        <!-- scrollable table -->
        <div class="flex-grow-1 position-relative">
          <div class="position-absolute overflow-y-auto h-100 w-100">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th></th>
                  <th>Sr.</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let postCategory of deletedPostCategories; let i = index" class="align-middle"
                  [ngClass]="{ 'table-secondary': postCategory.selected }">
                  <td [width]="50">
                    <input type="checkbox" [(ngModel)]="postCategory.selected"
                      (change)="updateSelectedDeletedPostCategories()" />
                  </td>
                  <td [width]="80">
                    {{i +deletedPostCategoryPagination.limit *(deletedPostCategoryPagination.page - 1) +1}}
                  </td>
                  <td [width]="80">{{ postCategory.id }}</td>
                  <td>{{ postCategory.name }}</td>
                  <td>{{ postCategory.description }}</td>
                  <td [width]="100">
                    <button class="btn btn-success btn-md" (click)="restorePostCategory(postCategory.id)">
                      <i class="fa fa-refresh"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div pagination [currentPage]="deletedPostCategoryPagination.page" [totalItems]="totalDeletedPostCategories"
          [pageSize]="deletedPostCategoryPagination.limit" [pageSizes]="[10, 20, 30]"
          (currentPageChange)="changeDeletedPage($event)" (pageSizeChange)="changeDeletedPageSize($event)"
          class="mt-0 mb-0 px-3"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="postCategoryModal" tabindex="-1" aria-labelledby="postCategoryModalLabel">
  <div class="modal-dialog modal-dialog-scrollable p-0 my-0 modal-dialog-centered position-relative h-100">
    <div class="modal-content">
      <div class="modal-header bg-success py-2">
        <h5 class="modal-title text-white" id="postCategoryModalLabel">
          {{ postCategoryModalTitle }}
        </h5>
        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close"
          (click)="postCategoryModal.hide()">
          <i class="fa fa-close btn-flat text-white"></i>
        </button>
      </div>

      <div class="modal-body h-100 overflow-auto py-0 my-3 d-flex flex-column">
        <form [formGroup]="currentForm" class="mt-3">
          <div formArrayName="postCategories">
            <div *ngFor="
                let postCategory of postCategoriesFormArray.controls;
                let i = index
              " class="d-flex align-items-stretch border border-light rounded px-2 position-relative"
              [ngClass]="{'mb-3':i<postCategoriesFormArray.controls.length-1}">
              <div [formGroupName]="i" class="py-3 flex-grow-1">
                <div class="form-group p-2">
                  <label for="postCategory-name" class="form-label mb-2">Name</label>
                  <input class="form-control" type="text" placeholder="" formControlName="name"
                    id="postCategory-name" />
                </div>
                <div class="form-group p-2">
                  <label for="postCategory-gu-name" class="form-label mb-2">Description</label>
                  <input class="form-control" type="text" placeholder="" formControlName="description"
                    id="postCategory-gu-name" />
                </div>
              </div>
              <ng-container *ngIf="currentForm.get('postCategories').value.length > 1">
                <button type="button" class="btn btn-outline-danger btn-sm my-3 position-absolute top-0 end-0 me-3"
                  (click)="removePostCategory(i)">
                  <i class="fa fa-trash me-2"></i>Remove
                </button>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-white" (click)="addPostCategory()" *ngIf="!needUpdate">
          <i class="fa fa-plus me-2"></i>Add More
        </button>
        <button class="btn btn-md btn-success ms-2" (click)="savePostCategory()">
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="postCategoryModal.hide(false)">
          Close
        </button>
      </div>
    </div>
  </div>
</div>